[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
SQLAlchemy = "*"
databases = "*"
requests = "*"
pandas = "*"
uvicorn = "*"
fastapi = "*"
aiofiles = "*"
google-cloud-storage = "*"
python-multipart = "*"
install = "*"
asyncpg = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
pytest = "*"
pytest-asyncio = "*"
google-auth = "*"
tensorflow = "*"

[requires]
python_version = "3.8"
