[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
user-agent = "*"
requests = "*"
databases = "*"
google-auth = "*"
google-cloud-storage = "*"

[requires]
python_version = "3.7"
